#create-page,
#edit-page {
    position: relative;
    width: 800px;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: inherit;
    text-align: center;
    background: transparent;
    box-shadow: 0px 0px 32px 15px #019EED, -14px -14px 20px #019EED;
}

input[type="text"] {
    background: transparent;
    padding: 30px;
    padding-left: 20px;
    height: 50px;
    margin-top: 10px;
    font-size: 24px;
    color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 32px 0px #019EED, -4px -4px 20px #019EED;
}

textarea {
    width: 100%;
    min-width: 20vw;
    min-height: 7em;
    /*border: 2px solid transparent;*/
    border-radius: 0.7em;
    font-size: 26px;
    /*border-bottom-color: #ecf0f3;*/
    background-color: transparent;
    /*border-right-color: #ecf0f3;*/
    margin-top: 7px;
    color: white;
    box-shadow: inset 0px 0px 32px 0px #019EED, -4px -4px 20px #019EED;
}